{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% block doctype %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock %}
<head>
<link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon" />
<meta name="google-site-verification" content="1xbAqhTro7RmveYL2kQ_i6FI0cVHuVkeRnUACJaujJk" />
      {% block stylesheet %}<link rel="stylesheet" href="/media/css/style.css" />{% endblock %}
    {% block extra-head %}{% endblock %}

    <title>Mutyaman {% block title %}Natural Products from the Philippine Islands{% endblock %}</title>
    {% plugin_point "page_head" %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4726746-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
{% block body %}
<body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    {% plugin_point "page_top" %}
<div id="container">
  
  <div id="top">
    <div id="top-left">
      <div id="greeting">Mabuhay!</div>
      <div id="cart"><a href="/cart/">My Cart</a></div>
      <div id="navbar">
        <ul>
          <li class="first"><a href="/">Home</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/category/coco-nectar/">Our Products</a></li>
          <li><a href="/contact/">Contact Us</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </div>
    </div>
    <div id="top-right">
      <div id="abs-flower"></div>
    </div>
    <div class="clear"></div>
    <div id="title-bar">
    </div>
	</div>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

	<div id="footer">
		{% block footer %}
		{% blocktrans %}Powered by <a href="http://www.satchmoproject.com">Satchmo</a>.{% endblocktrans %}
		{% endblock %}
	</div>

</div>
	{% block page-close %}
    {% block google-tracker %}
    {% if shop.options.GOOGLE.ANALYTICS.value %}
        {% show_tracker is_secure %}
    {% endif %}
    {% endblock %}
	{% endblock %}
  {% block end-body %}{% endblock %}
<script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
<script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('a63d287cf74e2b56c625fba099d79fa0'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>

<script src="http://jasonkotenko.com/stats/piwik.js"></script>
<script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://jasonkotenko.com/stats/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>

</body>
{% endblock %}
</html>
